body {
  margin: 0;
}

main {
  padding: 5px;
}

button {
  outline: none;
  border: none;
  padding: 4px;
  border: 1px solid #5e6175;
}

button:hover {
  cursor: pointer;
  opacity: 0.75;
}

.small-gutter {
  padding: 5px;
}

#scanPage {
  background-color: #1a1a1a;
  color: #fff;
  width: 100%;
  font-weight: 100;
  padding: 6px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 5px;
}

#a11yScanResults {
  overflow-x: hidden;
}

#a11yPageScanned {
  font-weight: 600;
  font-size: 1.5em;
}

footer {
  padding: 12px;
  background-color: #ccc;
}

ol {
  padding: 0;
}
